nav {
  background-color: gray;
  color: white;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  a {
    color: white;
    display: inline-block;
  }

  a:not(:last-child) {
    margin-right: 10px;
  }
}