.articleCard {
  border: 1px solid #EAEAEA;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;

  &__image {
    width: 100%;
    height: 217px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    flex: none;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__inner {
    height: 100%;
    margin: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  &__info {
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__publishedDate {
    font-size: 14px;
    color: rgba(#363636, 0.6);
    margin-bottom: 24px;
    padding-left: 23px;
    background: url("../../assets/img/calendar.png") no-repeat left 2px;
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;

    & span {
      background-color: yellow;
    }
  }

  &__summary {
    margin-bottom: 20px;

    & span {
      background-color: yellow;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    color: #363636;
    transition: .3s linear;
    position: relative;
    z-index: 5;

    &::after {
      content: url("../../assets/img/arrow.svg");
      width: 12px;
      height: 10px;
      margin-left: 6px;
      transition: .3s linear;
    }

    &:hover {
      &::after {
        content: url("../../assets/img/arrow.svg");
        margin-right: -7px;
        margin-left: 13px;
      }
    }
  }

  &__linkOverflow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

}