* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  background-size: cover;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  color: #363636;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: inline-block;
}

.App {
  text-align: center;
}

.container {
  max-width: 1500px;
  padding: 20px 30px;
  margin: 0 auto;
}

